<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ISIC_SUBMARINE2010.Properties.Settings.sousmarinConnectionString" connectionString="Data Source=|DataDirectory|\sousmarin.sdf;Persist Security Info=True" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="ISIC_SUBMARINE2010.Properties.Settings.BDSousMarinConnectionString" connectionString="Data Source=|DataDirectory|\BDSousMarin.sdf;Persist Security Info=True" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
